---
layout: default
home: true
---
<img class="spacing-sections full-width" src="/img/cover-mini.jpg" alt="A working desk reflected in a picture" title="My design studio image reflected">

<section class="spacing-sections">
  <h1 class="headline-default">Hi, I'm Francesco.</h1>

  <p class="lead color-text-weak">I’m a Product Designer based in Rome, Italy.</p>

  <p class="lead color-text-weak">Currently, I design digital products and services for the <a href="">Italian Government Digital Transformation Team.</a></p>

  <p class="lead color-text-weak">I share my experience on my <a href="/blog">blog</a> and <a href="https://www.designabile.com" target="_blank">newsletter</a>.</p>

  <p class="lead color-text-weak">I have fun working at some <a href="https://github.com/zetareticoli?tab=repositories" target="_blank">open-source projects</a>.</p>
</section>

<img class="spacing-sections full-width" src="/img/cover.jpg" alt="A working desk reflected in a picture" title="My design studio image reflected">

<section class="spacing-sections">
  <h2 class="headline-default">Recent Writing</h2>

  {% for post in site.posts limit:3 %}
    {% include post-list.html %}
  {% endfor %}
</section>

<section class="spacing-sections">
  {% include box-subscribe.html %}
</section>

