---
layout: default
home: true
---
<img class="spacing-sections full-width outer-margin" src="/img/site-cover.webp" alt="A working desk reflected in a picture" title="My design studio image reflected">

<section class="spacing-sections outer-margin">
  <h1 class="headline-default">Hi, I'm Francesco.</h1>
  <p class="lead color-text-light">
    I'm a <span class="color-text">Product Designer</span> based in Rome with over 17 years of experience  in the field. 
  </p>
  <p class="lead color-text-light">I design <span class="color-text">digital products</span> and <span class="color-text">design systems</span> that inspire user engagement and drive business growth, simplifying complex ideas and creating intuitive  user experiences.
  </p>
  <p>
    <a class="text-emphasis" href="/about/">About me →</a>
  </p>
  <p>
    <a class="text-emphasis" href="/work/">Work experiences →</a>
  </p>
</section>

<section class="spacing-sections outer-margin">
  <h2 class="headline-default">Latest writing</h2>
  <ul class="list-none m-none">
    {% for post in site.posts limit:4 %}
    {% include post-list.html %}
    {% endfor %}
  </ul>
  <p>
    <a class="link-light link-underline" href="/writing/">All writing →</a>
  </p>
</section>

<hr>

<section class="spacing-sections outer-margin">
  {% include box-subscribe.html %}
</section>
