[build]
  command = "bundle install && bundle exec jekyll build"
  publish = "_site"

[build.environment]
  RUBY_VERSION = "3.3.6"

[build.lifecycle]
  [[build.lifecycle.onBuild]]
    command = "rvm install ruby-3.3.6"
