---
layout: full
headline: I design digital products for the web.
lead: I’m a multisciplinary designer focused on building thoughtful, intuitive and delightful experiences for digital products. From SaaS software to mobile/web applications, I specialize in Design Systems, Interaction Design, Product Design and Front-end.
---

<section class="spacing-sections inner">
	{% if page.headline %}
		<h1 class="headline-default">{{ page.headline }}</h1>
	{% endif %}

	{% if page.lead %}
		<p class="lead color-text-weak">{{ page.lead }}</p>
	{% endif %}
</section>

<section class="spacing-sections background-primary spacing-stack-xxl spacing-inline-m">
  <div class="inner">
    <h2 class="headline-default mb-xl">Notable Experiences</h2>
    <div class="flex list-projects">
    {% for project in site.data.projects %}
      {% include card.html %}
    {% endfor %}
    </div>
  </div>
</section>

<section class="spacing-sections">
  <h5 class="caption">Past Projects</h5>
  <ul class="content-list m-none">
  {% for client in site.data.clients %}
    <li class="content-list__item flex">
      <span class="content-list__year text-small color-text-weak mb-s">{{client.year}}</span>
      <h3 class="content-list__title headline-tertiary mb-s">{{client.title}}</h3>
      <p class="content-list__desc mb-s">{{client.desc}}</p>
    </li>
  {% endfor %}
  </ul>
</section>


<h2 class="headline-default">Personal Projects</h2>
<ul>
  {% for project in site.data.side %}
    <li class="flex">
      <a href="{{project.url}}">
        <h3>{{project.title}}</h3>
        <p>{{project.desc}}</p>
      </a>
    </li>
  {% endfor %}
</ul>

<h2 class="headline-default">Over 15 years of experience</h2>
<p>I’ve been lucky enough to establish relationships with amazing companies, ranging from individual clients, through up-and-coming startups, to multinational companies. For more details, head over to my LinkedIn profile.</p>

<h5 class="caption">Expertise</h5>
<ul class="list-none">
  <li class="lead">¬ Plan and Build a Design System from scratch</li>
  <li class="lead">¬ Explore and Iterate ideas through advanced, interactive prototypes</li>
  <li class="lead">¬ Adopt a Responsive Design Strategy for digital products on the web</li>
  <li class="lead">¬ Document Interfaces with Styleguides, Pattern Libraries, Design Language</li>
  <li class="lead">¬ Define the front-end architecture and implementation</li>
  <li class="lead">¬ Lead multidisciplinary teams in a Lean, Agile, Scrum processes</li>
</ul>

<h2 class="heading-default">Certifications</h2>
<ul class="content-list">
  {% for course in site.data.certifications %}
    <li>
      <img src="{{course.certificate}}" alt="{{course.title}} Certificate" title="{{course.title}} Certificate">
      <h3>{{course.title}}</h3>
      <small>{{course.school}}</small>
      <small>{{course.year}}</small>
    </li>
  {% endfor %}
</ul>

{% include box-subscribe.html %}
