---
layout: full
headline: I design digital products.
lead: I am a designer with expertise in multiple disciplines. My focus is on creating intuitive and enjoyable experiences through digital products, with a specialization in design systems and product design.
---

<section class="spacing-sections inner">
	{% if page.headline %}
		<h1 class="headline-default">{{ page.headline }}</h1>
	{% endif %}

	{% if page.lead %}
		<p class="lead color-text-light">{{ page.lead }}</p>
	{% endif %}
</section>

<section class="spacing-sections spacing-sections-inset background-primary spacing-outer">
  <div class="inner">
    <h2 class="headline-default mb-xl">Notable Work</h2>
    <div class="list-projects">
    {% for project in site.data.projects %}
      {% include project-featured.html %}
    {% endfor %}
    </div>
  </div>
</section>

<section class="spacing-sections">
  <div class="inner">
    <h2 class="headline-default">Experiences across the years</h2>
    <ul class="content-list m-none">
    {% for client in site.data.clients %}
      <li class="content-list__item flex">
        <span class="content-list__year text-small color-text-weak mb-s">{{client.year}}</span>
        <h3 class="content-list__title headline-tertiary mb-s">{{client.title}}</h3>
        <p class="content-list__desc mb-s">{{client.desc}}</p>
      </li>
    {% endfor %}
    </ul>
    <a href="#">See full timeline on LinkedIn</a>
  </div>
</section>

<section class="spacing-sections spacing-sections-inset spacing-outer background-emphasis">
  <div class="inner">
    <h2 class="headline-default">How I Work</h2>
    <p class="lead color-text-light">
      I believe in a hands-on approach and working in cross-functional teams that include stakeholders as partners in the project.
    </p>
    <div class="layout-aside-right">
      <article>
        <h3 class="caption">Expertise</h3>
        <ul class="list-none">
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span>Leading cross-functional teams</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span>Architecting Design Systems</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Building advanced prototypes</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Design responsive interfaces</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Write design documentation</li>
        </ul>
        <h3 class="caption">Methods</h3>
        <ul class="list-none mb-xl">
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Design sprints</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Double diamond</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Cross-functional teams</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Agile</li>
          <li class="headline-secondary mb-s"><span class="color-text-primary">¬</span> Iterative workflow</li>
        </ul>
        
      </article>
      <article>

        <p class="body-default">
          I prefer a practical approach and collaborating with cross-functional teams that include stakeholders as project partners.
        </p>
        <p>
          I enjoy developing, learning, teaching, and working with colleagues who are honest, respectful, and provide direct feedback. I believe that the team is crucial, and it's important to understand not only their skills but also their personalities.
        </p> 
        <p>
          Thorough research is essential in every project, as it helps us understand the business and its users. Ideation takes various forms, but it's crucial to rapidly test ideas with real users to ensure that we're headed in the right direction.
        </p>
      </article>
    </div>
  </div>
</section>
