---
layout: page
headline: Writing
lead: I confidently use writing as my outlet to express my ideas and bring my thoughts to life. I have been skillfully crafting pieces about design, side-projects, and personal growth for quite some time now.
---

<section class="spacing-sections">
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
  <h2>{{ year.name }}</h2>
  <ul>
    {% for post in year.items %}
      <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>

{% include box-subscribe.html %}

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}

