---
layout: page
headline: Writing
lead: I confidently use writing as my outlet to express my ideas and bring my thoughts to life. I have been skillfully crafting pieces about design, side-projects, and personal growth for quite some time now.
---

<section class="spacing-sections">
  {% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
  <h1>{{ year.name }}</h1>
    <ul>
      {% for post in year.items %}
        {% include post-list.html %}
      {% endfor %}
    </ul>
{% endfor %}
</section>

{% include box-subscribe.html %}

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}

