<form
  action="https://buttondown.email/api/emails/embed-subscribe/me@francescoimprota.com"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/me@francescoimprota.com', 'popupwindow')"
  class="subscribe form"
>
  <h3 class="headline-secondary">Join the mailing list</h3>
  <p class="text-small">Be the first to know when I post something new! Get updates about new posts, new projects, or other meaningful updates to this site delivered to your inbox.</p>
  
  <div class="subscribe-control">
    <label class="sr-only" for="bd-email">Enter your email</label>
    <input class="input" type="email" name="email" id="bd-email" placeholder="Email address" />
    <input type="hidden" value="1" name="embed" />
    <input class="button" type="submit" value="Subscribe" />
  </div>
</form>
