<article class="project project-{{work.slug}} background-weak">
  <h3 class="headline-secondary color-text-inverse">
    {% if work.url %}
    <a href="{{work.url}}">{{work.title}}</a>
    {% else  %}
    {{work.title}}    
    {% endif %}
  </h3>
  <p class="text-small color-text-light">{{ work.year }}</p>
  <p class="body">{{work.description}}</p>
  {% if work.link %}
    <a class="color-text link-underline" href="{{work.link.url}}">{{work.link.title}}</a>
    {% else %}
    <span class="color-text-weak"><em>Full case study available soon!</em></span>
  {% endif %}
</article>