<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>
{% if page.title %}
{{ page.title }} • {{ site.name }}
{% else %}
{{ site.name }}
{% endif %}
</title>
<meta name="description" content="{{ page.summary }} {{ site.description.meta }}">
<meta name="google-site-verification" content="drpyPKCiDDE-Kuqx_u2-IHEyzrBMKgcLWgJ1HPvCh90" />

<script async defer data-domain="francescoimprota.com" src="https://plausible.io/js/plausible.js"></script>

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.baseurl }}/feed.xml">

<!-- icons -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/android-chrome-192x192.png" sizes="192x192">
<meta name="theme-color" content="{{ site.theme-color-attr }}">
<meta name="msapplication-TileColor" content="{{ site.ms-tile-color }}">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/mstile-310x310.png">
<!-- /icons -->

<!-- og tags -->
<meta property="og:logo" content="{{ site.url }}{{ site.baseurl }}/android-chrome-192x192.png" />
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} • {{ site.name }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:locale" content="{{ site.lang }}">
{% if page.og-image %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/{{ page.og-image }}">
{% else %}
  {% if page.cover-image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/covers/{{ page.cover-image }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/android-chrome-192x192.png">
  {% endif %}
{% endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{% if page.summary %}
  <meta name="og:description" content="{{ page.summary }}">
  {% else %}
  <meta name="og:description" content="{{ site.description.subtitle }}">
{% endif %}
<!-- /og tags -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
<link rel="preload" href="{{ site.baseurl }}/css/fonts/"Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
