<div class="price-section mb-m">
  <div class="price">€149 <span class="price-old">€249</span></div>
  <div class="date">📅 4 date disponibili</div>
  <a href="https://book.stripe.com/5kQaEW2D1cIq8rU76Xcs801?prefilled_promo_code=EARLYFEB26"
    class="cta-primary plausible-event-name=Buy+Workshop">Riserva il tuo posto</a>
</div>
<p class="event-countdown" style="display: none;"></p>
<!-- <p class="event-static mb-m text-small font-regular color-text-light">Early Bird valido scaduto il 15 dicembre, 2025. <strong>Ultimo posto disponibile</strong>. Il tuo acquisto è valido anche per le prossime date.</p> -->