<div class="price-section mb-m">
  <div class="price">€149 <span class="price-old">€249</span></div>
  <div class="date">📅 2 date disponibili, dalle 09:00 alle 13:00</div>
  <a href="https://book.stripe.com/5kQaEW2D1cIq8rU76Xcs801?prefilled_promo_code=EARLYMAG26"
    class="cta-primary plausible-event-name=Buy+Workshop">Riserva il tuo posto</a>
</div>
<div class="event-static mb-m text-small block font-regular color-text-light">Early Bird fino al 30 aprile. <strong>4 posti rimasti</strong>. Il tuo acquisto è valido anche per le prossime date.</div>