.content-list {
  padding: 0;
  
  &__item {
    --list-item-direction: column;
    --list-item-spacing: var(--spacing-stack-m);
    margin-bottom: var(--list-item-spacing);
    flex-direction: var(--list-item-direction);

    @media screen and (min-width: 768px) {
      --list-item-direction: row;
      --list-item-spacing: var(--spacing-stack-s);
      align-items: center;
    }
  }

  &__title {
    @media screen and (min-width: 768px) {
      width: 16rem;
    }
  }

  &__year {
    @media screen and (min-width: 768px) {
      width: 5rem;
    }
  }

  &__desc {
    width: 100%;
  }
}