* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $ui-background;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $text-01;
  font-family: $font;
  font-size: $type-base;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, form {
  margin: 0 0 1rem;
  word-wrap: break-word;
}

p * {
  line-height: 1em;
}

strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

img + em {
  color: $text-02;
  font-size: $type-xsmall;
  text-align: center;
}

a {
  position: relative;
  color: $color-accent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin: 2rem auto;
  padding-left: 5vw;
  list-style-position: outside;
}

@media screen and (min-width: 768px) {
  ul, ol {
    padding-left: 0;
  }
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

li {
  margin: 1.5rem 0;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  background-image: none;
  color: $color-white;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.25;
  text-decoration: none !important;
  word-wrap: break-word;
  word-spacing: normal;
}

h1 {
  font-size: $type-xlarge;
}

h2 {
  font-size: $type-large;
}

h3, h4, h5, h6 {
  font-size: $type-medium;
}

h5 {
  color: $text-02;
  font-size: $type-xsmall;
  text-transform: uppercase;
}

p + h2,
p + h3,
p + h5 {
  margin-top: 3rem;
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
}

td, th {
  padding: .8rem;
}

th {
  background-color: rgba($text-01, 0.05);;
}

tr {
  border-bottom: 1px solid  rgba($text-01, 0.05);
}

tr:last-child {
  border: none;
}

thead,
tfoot {
  border-bottom: 2px solid rgba($color-accent, .4);
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding: 1.5rem 1.5rem;
  background-color: $color-darker;
  box-shadow: inset 4px 0 0 $color-accent;
  color: $color-white;
  font-size: $type-medium;
  font-style: italic;
}

blockquote > p {
  margin-bottom: 0;
}

code {
  font-family: "Source Code Pro", monospace;
}

p code {
  display: inline-block;
  padding: 4px;
  border: 1px solid rgba($text-01,.1);
  border-radius: 4px;
  background-color: rgba($text-01,.05);
  font-size: .875rem;
  color: $color-accent;
}

pre {
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 4px;
  background-color: rgba(0,0,0,.8);
  color: #f8f8f2;
  font-size: .75rem;
  line-height: 1.4;
}

pre code {
  font-size: .75rem;
}

small {
  color: rgba($text-01,.5);
  font-size: .8em;
}

small a {
  background-image: -webkit-linear-gradient(rgba($text-01,.5),rgba($text-01,.5));
  background-image: -moz-linear-gradient(rgba($text-01,.5),rgba($text-01,.5));
  background-image: -o-linear-gradient(rgba($text-01,.5),rgba($text-01,.5));
  background-image: -ms-linear-gradient(rgba($text-01,.5),rgba($text-01,.5));
  background-image: linear-gradient(rgba($text-01,.5),rgba($text-01,.5));
  color: inherit;
}

hr {
  height: 1px;
  margin: 3.75rem auto;
  border: none;
  background-color: $ui-border;
}

header {
  display: flex;
  display: flex;
  flex-flow: column;
  margin: $spacing-large 0;

  @media screen and (min-width: 768px) {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: $spacing-small 0;
  }
}

footer {
  padding: $spacing-small;
  background: $color-darker;
}