
.story {
  margin-bottom: 1.5rem;
  & + & {
    padding-top: 1.5rem;
    border-top: 1px solid $ui-border;
  }
}

.story__title {
  font-size: $type-medium;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

// Card

.card {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 2px;
  width: 100%;
  height: 128px;
  cursor: pointer;
  color: $text-01;
  transition: all .2s ease;

  &:hover {
    text-decoration: none;
    transform: translateY(-2px);
  }

  &--orange {
    background-color: #F1894E;
  }

  &--purple {
    background-color: #9F4EF1;
  }

  &--teal {
    background-color: #37C194;
  }

  &--blue {
    background-color: #4E5EF1;
  }
}

// Subscribe Form

.subscribe {
  &-control {
    display: flex;
    flex-flow: column;

    @media screen and (min-width: 768px) {
      flex-flow: row; 
    }
  }
  
  .input,
  .button {
    width: 100%;
  }

  .input {
    margin-bottom: .75rem;
  }

  @media screen and (min-width: 768px) {
    .input {
      width: 70%;
      margin-bottom: 0;
      margin-right: .75rem;
    }

    .button {
      width: 30%;
    }
  }
}
