@font-face {
  font-family: 'Mona Sans';
  src:
    url('/css/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/css/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-stretch: 95% 110%;
  font-display: swap;
}