// Blocks

.box {
  padding-bottom: 10vw;
  @media screen and (min-width: 768px) {
    padding-bottom: 5vw;
  }

  & + & {
    padding-top: 10vw;
    @media screen and (min-width: 768px) {
      padding-top: 5vw;
    }
  }
}

.cover {
  margin: 10vw 0;
  @media screen and (min-width: 768px) {
    margin: 5vw 0;
  }
}

.vertical {
  @media screen and (min-width: 768px) {
    max-width: 40%;
    float: right;
    margin-left: $spacing-xsmall;
    margin-bottom: $spacing-xsmall;
  }
}


// Typography

.mono {
  font-family: monospace;
  font-size: .75rem;
  font-weight: bold;
}

.featured {
  font-size: $type-medium;
}

// .caption {
//   color: $text-02;
//   font-size: $type-xsmall;
// }

.link-alt {
  color: rgba($color-white, 75%);
}

.link-inverse {
  color: $color-white;
  transition: color .2s ease;
  &:hover {
    color: $color-accent;
  }
}

// Icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}



.rss {
  padding: 16px;
  border-radius: 2px;
  background-color: lighten($ui-background, 5%);
}

// Forms

.form {
  background-color: $color-bluedark;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.input {
  background: rgba($color-white, 0.04);
  border-radius: 4px;
  font-weight: 500;
  font-size: $type-small;
  padding: .75rem;
  border: none;

  &:focus,
  &:active {
    background: $color-white;
  }
}

.button {
  background-color: $color-accent;
  color: $color-white;
  text-align: center;
  padding: .75rem 2rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: $type-small;
  font-weight: 700;
  
  &:hover {
    text-decoration: none;
    background-color: lighten($color-accent, 5%);
  }
}