// Blocks

.box {
  padding-bottom: 10vw;
  @media screen and (min-width: 768px) {
    padding-bottom: 5vw;
  }

  & + & {
    padding-top: 10vw;
    @media screen and (min-width: 768px) {
      padding-top: 5vw;
    }
  }
}

.cover {
  margin: 10vw 0;
  @media screen and (min-width: 768px) {
    margin: 5vw 0;
  }
}

.vertical {
  @media screen and (min-width: 768px) {
    max-width: 40%;
    float: right;
    margin-left: $spacing-xsmall;
    margin-bottom: $spacing-xsmall;
  }
}


// Typography

.lead {
  margin-bottom: 1.5rem;
  font-size: $type-medium;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.mono {
  font-family: monospace;
  font-size: .75rem;
  font-weight: bold;
}

.featured {
  font-size: $type-medium;
}

.caption {
  color: $text-02;
  font-size: $type-xsmall;
}

.link-alt {
  color: rgba($color-white, 75%);
}

.link-inverse {
  color: $color-white;
  transition: color .2s ease;
  &:hover {
    color: $color-accent;
  }
}

// Icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.colophon {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.rss {
  padding: 16px;
  border-radius: 2px;
  background-color: lighten($ui-background, 5%);
}
