// Typography

.mono {
  font-family: monospace;
  font-size: .75rem;
  font-weight: bold;
}

// Icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.rss {
  padding: 16px;
  border-radius: 2px;
  background-color: lighten($ui-background, 5%);
}

// Forms

.form {
  background-color: $color-bluedark;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.input {
  background: rgba($color-white, 0.04);
  border-radius: var(--radius-smooth-corner);
  font-weight: var(--font-medium);
  font-size: var(--font-02);
  padding: .75rem;
  border: none;

  &:focus,
  &:active {
    background: $color-white;
  }
}
