$color-dark: #111a23;
$color-darker: #080D11;
$color-white: rgb(255,255,255);
$color-accent: #f1894e;
$ui-background: $color-dark;
$ui-border: rgba($color-white, 15%);
$text-01: $color-white;
$text-02: rgba($color-white, 40%);
$type-xlarge: 1.75rem;
$type-large: 1.5rem;
$type-medium: 1.25rem;
$type-base: 16px;
$type-small: .75rem;

$spacing-large: 10vw;
$spacing-small: 5vw;


$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font: 'Inter', $font-stack;