.unspace {
  margin: 0;
}

.mr-xsmall {
  margin-right: $spacing-xsmall;
}

.mb-xsmall {
  margin-bottom: $spacing-xsmall;
}

.ml-xsmall {
  margin-left: $spacing-xsmall;
}

.list-none {
  padding: 0;
  list-style-type: none;
}

.list-card {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.divider {
  border-bottom: 1px solid rgba($color-white, .15);
}

.full-width {
  width: 100%;
  height: 50vw;
  position: relative;
  object-fit: cover;
  
  @media screen and (min-width: 768px) {
    left: 50%;
    margin-left: -45vw;
    margin-right: -45vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 90vw;
    height: auto;
  }
}

.flex {
  display: flex;
}

.align-start {
  align-self: flex-start;
}

.items-center {
  align-items: center;
} 

.space-between {
  justify-content: space-between;
}

.width-50 {
  width: 50%;
}

.space {
  margin-bottom: 3rem;
}

.text-small {
  font-size: $type-small;
}

.text-center {
  text-align: center;
}