.color-text {
  color: var(--text);
}

.color-text-weak {
  color: var(--text-weak);
}

.color-text-light {
  color: var(--text-light);
}

.color-text-inverse {
  color: var(--text-inverse);
}

.color-text-primary {
  color: var(--text-primary);
}

.background-primary {
  background-color: var(--background-primary);
}

.background-light {
  background-color: var(--background-light);
}
