.u-m-0 {
  margin: 0;
}

.u-mr-xs {
  margin-right: $spacing-xsmall;
}

.u-mb-xs {
  margin-bottom: $spacing-xsmall;
}

.u-ml-xs {
  margin-left: $spacing-xsmall;
}

// Margin

.mr-s {
  margin-right: var(--spacing-inline-s);
}

.ml-s {
  margin-left: var(--spacing-inline-s);
}

.mb-s {
  margin-bottom: var(--spacing-stack-s);
}
