// Headlines

.headline-teaser {
  font-size: var(--font-07);
  line-height: var(--lineheight-auto);
  font-stretch: var(--stretch-wide);
  @media screen and (min-width: 768px) {
    font-size: var(--font-08);
  }
}

.headline-default {
  font-size: var(--font-07);
  line-height: var(--lineheight-auto);
  font-stretch: var(--stretch-wide);
}

.headline-secondary {
  font-size: var(--font-06);
  font-weight: var(--font-semibold);
  line-height: var(--lineheight-auto);
  font-stretch: var(--stretch-wide);
}

.headline-tertiary {
  font-size: var(--font-04);
  font-weight: var(--font-semibold);
  line-height: var(--lineheight-auto);
}

// Copy

.lead {
  font-size: var(--font-04);
  font-weight: var(--font-medium);
  letter-spacing: var(--tracking-tight);
  line-height: var(--lineheight-double);
  @media screen and (min-width: 768px) {
    font-size: var(--font-06);
  }
}

.text-default {
  font-size: var(--font-03);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-normal);
  line-height: var(--lineheight-auto);
}

.text-emphasis {
  font-size: var(--font-03);
  font-weight: var(--font-medium);
  letter-spacing: var(--tracking-normal);
  line-height: var(--lineheight-auto);
}

.text-small {
  font-size: var(--font-02);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-normal);
  line-height: var(--lineheight-auto);
}

.text-tiny {
  font-size: var(--font-01);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-normal);
  line-height: var(--lineheight-auto);
}

.body-default {
  font-size: var(--font-03);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-normal);
  line-height: var(--lineheight-relaxed);
}

.body-post {
  font-size: var(--font-05);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-tight);
  line-height: var(--lineheight-relaxed);
}

.caption {
  font-size: var(--font-01);
  font-weight: var(--font-regular);
  letter-spacing: var(--tracking-normal);
  line-height: var(--lineheight-auto);
}

.uppercase {
  text-transform: uppercase;
}