.button {
  --button-background: var(--background-primary);
  background-color: var(--button-background);
  color: var(--colors-white);
  text-align: center;
  padding: var(--spacing-inset-s);
  border-radius: var(--radius-smooth-corner);
  border: none;
  cursor: pointer;
  font-size: var(--font-02);
  font-weight: var(--font-bold);
  
  &:hover {
    --button-background: var(--state-hover);
    text-decoration: none;
  }
}