.header {
  flex-flow: column;
  margin: var(--spacing-stack-m) 0 var(--spacing-stack-xl);

  @media screen and (min-width: 768px) {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: var(--spacing-stack-xxl) 0;
  }
}
