// Navigation

.nav {
  @media screen and (min-width: 768px) {
    width: 33%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: var(--text-primary); 
    @media screen and (min-width: 768px) {
      text-align: right;
    }

    &:hover {
      text-decoration: none;
    }

    &.active {
      font-weight: 700;
      color: $color-white;
    }
  }
}