// Navigation

.nav {
  @media screen and (min-width: 768px) {
    width: 50%;
  }

  &__list {
    gap: var(--spacing-inline-s);
    justify-content: center;

    @media screen and (min-width: 768px) {
      gap: var(--spacing-inline-m);
      justify-content: flex-end;
    }
  }

  &__item {
    font-size: var(--font-02);
    @media screen and (min-width: 768px) {
      font-size: var(--font-03);
    }

    &.active {
      font-weight: 700;
      color: var(--text);
      @media (prefers-color-scheme: dark) {
        color: var(--text-inverse);
      }
    }
  }
}