.project {
  --project-spacing: var(--spacing-stack-l);
  --project-inner-spacing: var(--spacing-inset-l);
  margin-bottom: var(--project-spacing);
  padding: var(--project-inner-spacing);
  border-radius: var(--radius-smooth-corner);
  @media screen and (min-width: 768px) {
    --project-spacing: 0;
    --project-inner-spacing: var(--spacing-inset-xl)
  }
}