---
layout: default
---

<article class="post spacing-sections outer-margin">
  
  <section class="mb-l">
  	<h1 class="headline-teaser">{{ page.title }}</h1>
    {% if page.lead %}
    <p class="lead color-text-light">{{ page.lead }}</p>
    {% endif %}  
    {% if page.cover %}
    <img class="full-width" alt="{{ page.cover-alt }}" title="{{ page.cover-title }}" src="{{ site.baseurl }}/img/works/{{ page.cover }}">
	  {% endif %}
  </section>

  <section class="post_intro l-pair-cols l-full">
    <div class="post__meta">
      <div>
        {% if page.role %}
        <h4 class="caption uppercase color-text-weak mb-xs">Role</h4>
        <p class="body-post text-light">{{page.role}}</p>
        {% endif %}
      </div>
      <div>
        {% if page.year %}
        <h4 class="caption uppercase color-text-weak mb-xs">Year</h4>
        <p class="body-post text-ligh ">{{page.year}}</p>
        {% endif %}
      </div>
      <div>
        {% if page.responsibilities %}
        <h4 class="caption uppercase color-text-weak mb-xs">Responsibilities</h4>
        <ul class="list-none p-0">
        {% for item in page.responsibilities %}
          <li class="body-post text-light mb-s"><span class="color-text-primary">¬</span> {{ item }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div>
        {% if page.platform %}
        <h4 class="caption uppercase color-text-weak mb-xs">Platform</h4>
        <p class="text-emphasis">{{page.platform}}</p>
        {% endif %}
      </div>
    </div>
    <div>
      {% if page.summary %}
      <p class="body-post">
        {{page.summary}}
      </p>
      {% endif %}
    </div>
  </section>

  <section class="post__body">
    {{ content }} 
  </section>

</article>

