---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

<article class="box">
	<h1>{{ page.title }}</h1>
  
  <p class="caption">{{ page.date | date: site.date_format }} • {{ read-time }}</p>

  {% if page.cover-image %}
    <img class="mb-xsmall" alt="{{ page.cover-alt }}" title="{{ page.cover-title }}" src="{{ site.baseurl }}/img/covers/{{ page.cover-image }}">
	{% endif %}

  {{ content }}

  {% if site.display-author-post-page %}
    {% if page.author.name %}
      <small><em>{{ site.var_guest_post_by }}: {{ page.author.name }} {{ page.author.info }}</em></small>
    {% else %}
      {% if site.author.name %}
        <small><em>{{ site.var_post_by }}: {{ site.author.name }} {{ site.author.info }}</em></small>
      {% endif %}
    {% endif %}
  {% endif %}

  <hr>
  
  {% include box-subscribe.html %}

  <!-- <div class="text-center">
    <p>
      <em>Find this post interesting?</em>
    </p>
    <p>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    Share on Twitter</a>
    </p>
  </div> -->

  {% if site.display-next-prev-post and page.previous.url or site.display-next-prev-post and page.next.url %}
    <div class="pagination">
      <div>
        {% if page.previous.url %}
          <a href="{{ page.previous.url | prepend: site.baseurl }}">‹ {{ site.var_previous_post }}</a>
        {% endif %}
      </div>
      <div>
        {% if page.next.url %}
          <a href="{{ page.next.url | prepend: site.baseurl }}">{{ site.var_next_post }} ›</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
</article>
